{{!-- Assignment: All the news that is worth to scrape. --}}
{{!-- Files: apps.js --}}
{{!-- Programmer: Sohail Zafar --}}
{{!-- This is the main handlebars file for the project to handle dynamic content page of the project. --}}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>All the news worth to scrape</title>
	</head>
	<body>
        <h3>The NY Times World  Web Scraper</h3>
        {{#each articles}}
  			<p>Title: {{title}}</p>
			<p>Link: ${{link}}</p>
 		 <hr>
		{{/each}}
	</body>
</html>